.resize_handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    cursor: se-resize;
    bottom: 0;
    right: 0;
  }
  
  .resize_arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    right: 2px;
    bottom: 2px;
  }